<nav class="navbar navbar-expand-md bg-primary text-uppercase">
	<div class="container px-sm-3">
		<a class="navbar-brand" [routerLink]="['/']">
			<img src="./assets/filmperler_logo.png" alt="Filmperler Logo" width="200">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
		aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav ml-auto">
				<li routerLinkActive="active" class="nav-item">
					<a class="nav-link" [routerLink]="['/', 'movies']">Find Film</a>
				</li>
				<li routerLinkActive="active" class="nav-item">
					<a class="nav-link" [routerLink]="['/', 'about']">Om</a>
				</li>
				<!-- <li routerLinkActive="active" class="nav-item dropdown" dropdown>
					<a class="nav-link dropdown-toggle" dropdownToggle [routerLink]="['/', 'about']" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
						Om
					</a>
					<div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Om Filmperler</a>
						<a class="dropdown-item" href="#">Spørgsmål &amp; Svar</a>
						<a class="dropdown-item" href="#">Kontakt</a>
						<a class="dropdown-item" href="#">Find Os</a>
					</div>
				</li> -->
			</ul>
		</div>
	</div>
</nav>
