<div class="bg-light text-uppercase py-4 py-md-5">
	<div class="row">
		<div class="col col-10 offset-1 col-md-6 offset-md-3">
			<h5 class="text-center mb-3">Tilmeld dig vores nyhedsbrev</h5>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Email adresse.." aria-label="Recipient's username" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-primary" type="button">Tilmeld</button>
				</div>
			</div>
		</div>
	</div>
</div>
