<div class="home-content">
	<div class="carousel-slider">
		<div class="slider-header p-3 d-inline-block">
			<h4 class="title m-0 d-inline-block">Nye Film</h4>
		</div>
		<slick-slider-component [movies]="slick1movies" [slideConfig]="slideConfigMain"></slick-slider-component>

		<div class="clearfix">
			<a class="btn btn-lg bg-primary" [routerLink]="['/', 'movies']">Se Flere</a>
		</div>
	</div>
	<div class="carousel-slider">
		<div class="slider-header p-3 d-inline-block">
			<h4 class="title m-0 d-inline-block">Nye Film</h4>
		</div>
		<slick-slider-component [movies]="slick1movies" [slideConfig]="slideConfigSecondary"></slick-slider-component>

		<div class="clearfix">
			<a class="btn btn-lg bg-primary" [routerLink]="['/', 'movies']">Se Flere</a>
		</div>
	</div>
</div>
