<div class="home-content">
	<div class="carousel-slider my-5">
		<div class="p-3">
			<h3>Nye Film</h3>
		</div>
		<slick-slider-component [movies]="slick1movies" [slideConfig]="slideConfigMain"></slick-slider-component>

		<div class="p-3">
			<a class="btn btn-lg bg-primary" [routerLink]="['/', 'movies']">Se Flere</a>
		</div>
	</div>
	<div class="carousel-slider my-5">
		<div class="p-3">
			<h3>Nye Film</h3>
		</div>
		<slick-slider-component [movies]="slick1movies" [slideConfig]="slideConfigSecondary"></slick-slider-component>

		<div class="p-3">
			<a class="btn btn-lg bg-primary" [routerLink]="['/', 'movies']">Se Flere</a>
		</div>
	</div>
</div>
