<div class="home-content">
	<div class="my-3">
		<slick-slider-component [movies]="slickMovies" message="Nye film" [slideConfig]="slideConfigMain"></slick-slider-component>
	</div>
	<div class="my-3">
		<slick-slider-component [movies]="slickMovies" message="Gamler Film" [slideConfig]="slideConfigSecondary"></slick-slider-component>
	</div>
	<div class="my-3">
		<slick-slider-component [movies]="slickMovies" message="Something else" [slideConfig]="slideConfigSecondary"></slick-slider-component>
	</div>
	<div class="my-3">
		<slick-slider-component [movies]="slickMovies" message="Something else" [slideConfig]="slideConfigSecondary"></slick-slider-component>
	</div>
	<div class="my-3">
		<slick-slider-component [movies]="slickMovies" message="Something else" [slideConfig]="slideConfigSecondary"></slick-slider-component>
	</div>

</div>
