<div class="container">

	<div class="row mt-4 mb-0">
		<div class="col-12 col-md-8 col-xl-9 offset-md-4 offset-xl-3">
			<h2 class="mb-0">Find Film</h2>
		</div>
	</div>

	<div class="row my-3 my-md-5">
		<div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0">
			<find-movie-filters-component (filterEvent)="receiveSearchFilter($event)"></find-movie-filters-component>
		</div>

		<div class="col">
			<div class="px-3">
				<find-movie-content-component [(searchFilter)]="searchFilter"></find-movie-content-component>
			</div>
		</div>
	</div>
</div>
