<h3 class="text-center">VELKOMMEN TIL FILMPERLER!</h3>
<p>Det skal være nemt for filmelskere at finde og se gode arthouse-film i ordentlig kvalitet.</p>
<p>Det er vores credo her på FILMPERLER, hvor vi har håndplukket og samlet de bedste arthouse-titler, som har haft dansk biografpremiere, samt en masse andre unikke filmoplevelser fra hele verden. Oplevelser der udfordrer, fascinerer og gør indtryk, og som er svære at finde på andre filmtjenester!</p>
<p>Når vi taler om arthouse-film, mener vi det i ordets bredeste forstand: Det er film der tilbyder anderledes og unikke filmoplevelser fra alle verdens hjørner.</p>
<p>Du kan både leje og købe filmene her på FILMPERLER og se dem på alle dine skærme – det være sig tablet, mobil, computer eller Smart TV. Abonnement er ikke påkrævet – her betaler du kun for det, du ser.</p>
<p>God fornøjelse!</p>
<p>Angel Films, distributionsselskab og grundlæggere af FILMPERLER.</p>






