<div *ngIf="movie">
	<div>
		<div class="vimeo-video card-img-top">
			<vimeo-embed-component [vimeoIframe]="vimeoIframe"></vimeo-embed-component>
		</div>
		<div class="p-3">
			<div class="row">
				<div class="col-12 col-md-8">
					<h3 class="card-title">{{movie.Title}}</h3>
					<div class="text-content">
						<p class="card-text">
							{{movie.Plot}}
						</p>
						<div class="movie-info border-bottom mb-3 pb-3">
							<span>Director:
								<strong>{{movie.Director}}</strong>
							</span>
							<span>Actors:
								<strong>{{movie.Actors}}</strong>
							</span>
							<span>Country:
								<strong>{{movie.Country}}</strong>
							</span>
							<span>Year:
								<strong>{{movie.Year}}</strong>
							</span>
							<span>Genre:
								<strong>{{movie.Genre}}</strong>
							</span>
							<span>Runtime:
								<strong>{{movie.Runtime}}</strong>
							</span>
							<span>Language:
								<strong>{{movie.Language}}</strong>
							</span>
						</div>
						<a [routerLink]="['/', 'movies']" class="btn btn-primary mb-3 mb-md-0">Tilbage</a>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card card-body bg-light">
						<img src="{{movie.Poster}}" alt="{{movie.Title}}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
