<div class="my-5" *ngIf="movie">
	<div class="title">
		<h1 class="text-center">{{movie.Title}}</h1>
	</div>

	<div class="vimeo-video">
		<vimeo-embed-component [vimeoIframe]="vimeoIframe"></vimeo-embed-component>
	</div>

	<div class="content my-4">
		<div class="row">
			<div class="col-12 col-md-8 col-lg-9">
				<div class="info small">
					<span>Genre:
						<strong>{{movie.Genre}}</strong>
					</span>
					<span>Runtime:
						<strong>{{movie.Runtime}}</strong>
					</span>
					<span>Language:
						<strong>{{movie.Language}}</strong>
					</span>
				</div>

				<div class="description my-3">
					<p class="m-0">{{movie.Plot}}</p>
				</div>

				<div class="info small">
					<span>Director:
						<strong>{{movie.Director}}</strong>
					</span>
					<span>Actors:
						<strong>{{movie.Actors}}</strong>
					</span>
					<span>Country:
						<strong>{{movie.Country}}</strong>
					</span>
					<span>Year:
						<strong>{{movie.Year}}</strong>
					</span>
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-3">
				<img src="{{movie.Poster}}" alt="{{movie.Title}}">
			</div>
		</div>
	</div>
</div>
