@import 'bootstrap/scss/functions';

.movie {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 250ms ease-in-out;
	position: relative;

	&.find-movie-content {
		height: 350px;

		@include media-breakpoint-up(md) {
			height: 200px;
		}
	}

	a {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
	&:hover {
		@include media-breakpoint-up(lg) {
			.hover-content {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	.hover-content {
		padding: map-get($spacers, 2);
		position: relative;
		z-index: 2;
		transform: scale(0.5);
		opacity: 0;
		transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
		background: rgba(255,255,255, 0.95);
		border-radius: $border-radius;
		box-shadow: 0 0 25px -10px $dark;

		.text-content {
			height: 100%;
			line-height: 1.2;
			.header {
				.title {
					font-weight: bold;
				}
				.genres,
				.runtime {
					margin-top: map-get($spacers, 1);
					display: block;
					font-size: ($font-size-sm * 0.8);
				}
			}

			.info {
				.rating {
					font-weight: bold;
					font-size: ($font-size-lg * 0.9);
					display: block;
				}
			}
		}
	}

	a {
		color: $black !important;
		&:hover {
			text-decoration: none !important;
		}
	}

	&.big-slider {
		.hover-content {
			padding: map-get($spacers, 4);
			.text-content {
				line-height: 1.2;
				.header {
					.title {
						font-weight: bold;
						font-size: ($font-size-lg * 1.2);
					}
					.genres,
					.runtime {
						margin-top: map-get($spacers, 1);
						font-size: $font-size-sm;
					}
				}

				.info {
					.rating {
						font-size: $font-size-lg;
						display: block;
					}
				}
			}
		}
	}
}
