.nav-link {
	&:hover {
		color: $dropdown-link-hover-color !important;
	}
}

.btn {
	text-transform: uppercase !important;
	color: #fff !important;
	letter-spacing: 1px !important;
	font-weight: bold !important;
}

body {
	padding-top: 77.5px;
}

.page-wrapper {
	min-height: 100%;
	box-shadow: 0 0 50px 0px $gray-300;
}

.h-100 {
	min-height: 100%;
}
