.slick-prev,
.slick-next {
	z-index: 1;
	&:before {
		color: $primary !important;
	}
}

.nav-link {
	&:hover {
		color: $dropdown-link-hover-color !important;
	}
}

.btn {
	text-transform: uppercase !important;
	color: #fff !important;
	letter-spacing: 1px !important;
	font-weight: bold !important;
}

body {
	padding-top: 77.5px;
}
