.hero-container {
	background: linear-gradient(126deg, #772816, #aa3a21);
	background-size: 400% 400%;

	-webkit-animation: gradientAnim 30s ease infinite;
	-moz-animation: gradientAnim 30s ease infinite;
	animation: gradientAnim 30s ease infinite;

	.title {
		display: inline-block;
		font-size: 5rem;
		letter-spacing: 2px;
		position: relative;
		opacity: 0;
		animation: fade-title-in 1s .5s forwards;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			background: white;
			height: 7px;
			animation: anim-lines-in 3s 1.25s forwards;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 0%;
			background: white;
			height: 7px;
			animation: anim-lines-in 3s 1.25s forwards;
		}
	}

	.subtext {
		opacity: 0;
		transform: translateY(-30px);
		animation: fade-subtext-in .5s 3.75s forwards;
	}

	@-webkit-keyframes gradientAnim {
		0%{background-position:0% 22%}
		50%{background-position:100% 79%}
		100%{background-position:0% 22%}
	}
	@-moz-keyframes gradientAnim {
		0%{background-position:0% 22%}
		50%{background-position:100% 79%}
		100%{background-position:0% 22%}
	}
	@keyframes gradientAnim {
		0%{background-position:0% 22%}
		50%{background-position:100% 79%}
		100%{background-position:0% 22%}
	}

	@keyframes fade-title-in {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	@keyframes anim-lines-in {
		from { width: 0%; }
		to { width: 100%; }
	}

	@keyframes fade-subtext-in {
		from {
			opacity: 0;
			transform: translateY(-30px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}


