<div class="bg-dark text-light">
	<div class="selling-points col-12 py-5 py-md-6 d-flex justify-content-around">
		<div class="col">
			<div class="text-center">
				<i class="fa fa-mobile mb-2"></i>
				<h6>Se filmen på alle enheder</h6>
			</div>
		</div>

		<div class="col">
			<div class="text-center">
				<i class="fa fa-vimeo mb-2"></i>
				<h6>Vimeo</h6>
			</div>
		</div>

		<div class="col">
			<div class="text-center">
				<i class="fa fa-credit-card mb-2"></i>
				<h6>Lej og Køb</h6>
			</div>
		</div>

		<div class="col">
			<div class="text-center">
				<i class="fa fa-question mb-2"></i>
				<h6>Sådan streamer du</h6>
			</div>
		</div>
	</div>
</div>
