<div class="filter-container">
	<div class="p-3 bg-dark text-white">
		<h5 class="mb-0">Filter
			<i class="fa fa-wrench float-right"></i>
		</h5>
	</div>
	<div class="p-3">
		<div class="form-group mb-0">

			<div class="inline-block float-right mb-2">
				<button class="btn bg-primary" (click)="resetFilter()">Nulstil filter</button>
			</div>

			<div class="inline-block float-right mb-2 mr-2 mr-md-0">
				<button class="btn bg-primary text-white" (click)="sortByLetter()">A-Å</button>
				<button class="btn bg-primary text-white" (click)="sortByYear()">Årstal</button>
			</div>

			<select class="custom-select mb-2" (change)="filterByCountry($event.target.value)">
				<option value="" selected>Alle Lande</option>
				<option *ngFor="let movie of countriesOption;" [selected]="movie.Country == curCountryFilter" [value]="movie.Country">{{movie.Country}}</option>
			</select>

			<select class="custom-select mb-2" (change)="filterByGenre($event.target.value)">
				<option value="" selected>Alle Genrer</option>
				<option *ngFor="let movie of genresOption;" [selected]="movie.Genre == curGenreFilter" [value]="movie.Genre">{{movie.Genre}}</option>
			</select>

			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						<i class="fa fa-search"></i>
					</span>
				</div>

				<input #searchInput type="text" class="form-control" placeholder="Søg film" (input)="updateSearchFilter(searchInput.value)"
				aria-label="Search" aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</div>
